{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Profile</title>
  <link rel="stylesheet" href="{% static "profiles/styles.css" %}">
</head>
<body>
  <form action="/profiles/" method="post" enctype="multipart/form-data">  {# enctype tells that it'll contain a file #}
    {% csrf_token %}
      {{ form }}
    <button>Upload!</button>
  </form>
</body>
</html>