<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profiles</title>
</head>
<body>
    <ul>
        {% for profile in profiles %}
            <li>
                <img src="{{ profile.image.url }}" alt=""> {# .url browser can reach, filesystem path would be .path#}
            </li>
        {% endfor %}
    </ul>
</body>
</html>