{%  extends "reviews/base.html" %}

{% block title %}All Reviews{% endblock %}

{% block content %}
    <ul>
        {% for review in object_list %}  {# because of ListView we get context as object_list #}
            <li>{{ review.user_name }} (Rating: {{ review.rating }})</li>
        {% endfor %}
    </ul>
{% endblock %}