{% extends "reviews/base.html" %}

{% block title %}Your Review{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-control {% if field.user_name.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    <button type="submit">Send</button>  {# subimit is the default type anyways #}
    </form>
{% endblock %}

