{% extends "reviews/base.html" %}

{% block title %}Review Detail{% endblock %}

{% block content %}
    <h1>{{ review.user_name }}</h1> {# django takes the model name that was set in views (review in SingleReviewView) #}
    <p>Rating: {{ review.rating }}</p> {# You can use object instead of review as well, that's the default #}
    <p>{{ review.review_text }}</p>
    {% if is_favourite %}
        <p>This is my favourite!</p>
    {% else %}
        <form action="/reviews/favourite" method="post">
            {% csrf_token %}
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <button>Favourite</button>
        </form>
    {% endif %}
{% endblock %}